header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 200;
  margin-left: 30px;
}

header a {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
  position: absolute;
  margin-left: 105rem;
  top: 30px;
  text-decoration: none;
}

.login {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
  position: absolute;
  margin-left: 100rem;
  top: 30px;
  text-decoration: none;
}
